@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  width: 0.5vw;
}
::-webkit-scrollbar-track {
  background-color: rgb(160, 158, 158);
}
::-webkit-scrollbar-thumb {
  background-color: #2d3748;
  border-radius: 50px;
}
